# Data Type

In [ ]:
print(2) #integer
print(type(2))

print("2") #string
print(type("2"))

print(2.) #float, so take some integer float put a decimal point
print(type(2.0))

2
<class 'int'>
2
<class 'str'>
2.0
<class 'float'>

# Operators
## Integer Operators

In [1]:
x = 2+3 #addition
y = 2*3 #multiplication
z = 2/3 #division
w = 11//3 #integer/floor division
u = 5%2 #remainder
p = 2**3 #exponent
s = 2-3 #subtraction
print(x,y,z,w,u,p,s)
print(2*3+18**2/6-1+9*14//3%3)

5 6 0.6666666666666666 3 1 8 -1
59.0

## Float Operations

In [ ]:
x = 10.324
y = 7.73
t = x+y #addition
u = x*y #multiplication
v = x/y #division
w = x//y #floor division
z = x%y  #remainder
p = x**y #exponent
s = x-y  #subtract
print(t,u,v,w,z,p,s)

18.054000000000002 79.80452 1.3355756791720568 1.0 2.5939999999999994 68713964.80111146 2.5939999999999994

## String (str) and operators
     * int
     + str

In [ ]:
x = "Hello"
print(x[2])
print(id(x),id(x[0]),id(x[1]))
print(type(x[2]))# no char type in python

l
1871899033776 140711857394056 140711857395680
<class 'str'>

In [ ]:
print("Hello "*3)
print("Good "+"Morning")
print(len("Morning")) #len function calculates the length of the string

Hello Hello Hello
Good Morning
7

In [ ]:
# variable overwrites, if you reassign something to it
a = 5
print(a,id(a))
a=7
print(a,id(a))
a = "Good Morning"
print(a,id(a))

5 140711857349544
7 140711857349608
Good Morning 1871906767408

# Variables
  Genuine names of the variables

In [ ]:
# invalid names, as constrained by python
#2acc #can't begin with number
#current-balance #it can use only letters, numbers and underscore character
#current balance #only one word without spaces
#Total+$um #no special symbol is allowed
#'h

#valid names
current_balance=0
currentBalance=2
CurrentBalance=3
currentbalance=6
print(currentbalance, currentBalance, CurrentBalance) #variable names are case senstive
print(id(currentbalance),id(currentBalance),id(CurrentBalance))
account4  =0
_42=0
Total_Sum=0
hello=0

6 2 3
140711857349576 140711857349448 140711857349480

In [ ]:
# comments<-- these are ignored, single line comment starts with hash
'''asdmjnfb
sdfjb
shdfj''' # multiline comment, triple single quote is also a string
"""ajhsgefdhj
asdfhsdjfh
sajdfjh""" #multiline comment, triple double quote is also a string

'ajhsgefdhj \nasdfhsdjfh\nsajdfjh'

## Home Work 001
1.   Greet the user with his/her name
2. Take the person's date of birth (year, month and day of the month, 3 separate inputs). And give his age
3.   Tell the length of the name

# Boolean Data Type

In [ ]:
print(type(True), int(True), type(False),int(False))
print(bool(42),bool(-1),bool(0))

<class 'bool'> 1 <class 'bool'> 0
True True False

## Logical Operators
      1. ==  Equality operator, defined for all the objects
      2. >   Defined on numbers only
      3. <   Defined on numbers only
      4. >=  greater than equal to
      5. <=  less than equal to

In [4]:
print(""""5" == 5""","5" == 5)
print('''"Rajesh" == "rajesh"''',"Rajesh" == "rajesh")
print("""Hello""" == 'Hello')
print("sam" >= "sam")
print(5<=5.0)
#print("ka">3) # '>' not supported between instances of 'str' and 'int'
print("apples">"apple") #lexicograpically

"5" == 5 False
"Rajesh" == "rajesh" False
True
True
True
True

## Boolean Operators
1. and
2. or
3. not

In [ ]:
print(False and True)
print(False or False)
print(not True)

False
False
False

### Operator Precedence
```
Airthematic Operator > Logical(Comparison) Operators > Boolean Operators
**,*,/,%,//,+,-          >,<,>=,<=,==,!=               and, or, not
```
Follow the _[link](https://docs.python.org/3/reference/expressions.html#operator-precedence)_ for correct precedence from python documentation

In [ ]:
2 + 2 == 4 and not 2 + 2 == 5 and 2 * 2 == 2 + 2

True

# Flow Control
## Conditional
```
if condition:
    body    #executes only if the condition with *if* evaluates to True
elif condition:
    body    #executes only if the condition with *elif* evaluates to True
else:
    body    #executes only if the condition with all the *if* and *elif* evaluates to True
```
In order to inform Python which lines will execute under certain conditions, indentation is considered

In [ ]:
x = int(input("Enter a number"))
if x%2==0:
    print("The entered Number is even.")
else:
    print("The entered number is odd.")

Enter a number 3

The entered number is odd.

Conditions will consider some values in other data types equivalent to True and False. When used in conditions, 0, 0.0, and '' (the empty string) are considered False, while all other values are considered True. For example, look at the following program:

In [ ]:
if 1:
    print("Hello 1")
if 0: #Only 0 evaluates to False
    print("Hello 0")
if "":
    print("Hello ''")
if "hello":
    print("Hello 'hello'")

Hello 1
Hello 'hello'

## Homework 002
    Make a Date Validator, i.e. if that date can exist or not
    Make a converter from date format[29.05.2023] to date format [May 29, 2023]

## Iterative Constructs Loops
### While Loops

In [ ]:
i=1
while(i <2024):
    i*=2
    print(i)
print("While Loop finished")

2
4
8
16
32
64
128
256
512
1024
2048
While Loop finished

In [ ]:
i=5
while(i>0):
    print("Hello")
    i-=1

Hello
Hello
Hello
Hello
Hello

## Homework 003
Ask for the password till it does not match

## for loop

In [ ]:
for i in range(3):
    print(i)

0
1
2

# Make a python script to calculate the temprature in celcius from Farhenhiet

### Nested for loops

In [ ]:
"""The program intends to make a rectangle of * of
3 rows and 5 columns""" #<-- Multiline commenting
for i in range(0,3):
    s = ""
    for j in range(0,5):
        s+="*"
    print(s)

*****
*****
*****

In [ ]:
for i in range(0,5):
    s = ""
    for j in range(5,i,-1):
        s+="*"
    print(s)

*****
****
***
**
*

In [ ]:
# Multiline commenting starts
'''
The code is meant to make pipes at the edges of what it draws
and the odd rows prints first space then * alternatively 5 times and
the even rows prints vice-versa fashion
-----
Author Information:
Name: Kapil
Date of Modification: 31-08-2024
Email: kapil@nitkkr.ac.in
''' # Multiline commenting ends
flag = 1
for i in range(10): # spans over 14-25 lines
    s = "|"
    for j in range(10): # spans over 16-19 lines
        if j%2 == flag: # spans over 17
            s+="*"
        else:           # spans over 19
            s+=" "
    s+="|"
    print(s)
    if flag==1:
        flag=0
    else:
        flag=1

# a block is always indented more and variables may have block scope

| * * * * *|
|* * * * * |
| * * * * *|
|* * * * * |
| * * * * *|
|* * * * * |
| * * * * *|
|* * * * * |
| * * * * *|
|* * * * * |

## Homework 004

### Five Little Monkeys Jumping on the Bed
Lets write this poem through python. One can notice every time one monkey get his/her head bumped. So most of the lines are same in each paragraph. So how to write a smallest python program
```
Five little monkeys jumping on the bed
One fell down and bumped his head
Mama called the doctor, and the doctor said
"No more monkeys jumping on the bed!"

Four little monkeys jumping on the bed
One fell down and bumped his head
Mama called the doctor, and the doctor said
"No more monkeys jumping on the bed!"

Three little monkeys jumping on the bed
One fell down and bumped his head
Mama called the doctor, and the doctor said
"No more monkeys jumping on the bed!"

Two little monkeys jumping on the bed
One fell down and bumped his head
Mama called the doctor, and the doctor said
"No more monkeys jumping on the bed!"

One little monkey jumping on the bed
He fell down and bumped his head
Mama called the doctor, and the doctor said
"No more monkeys jumping on the bed!"

No little monkeys jumping on the bed
None fell down to bump their head
Mama called the doctor, and the doctor said

"Put those monkeys back into bed!"
```

In [ ]:
l = ["Five", "Four", "Three", "Two", "One", "No"]
for i in range(6):
    print(f'''{l[i]} little monkey{"" if i==4 else "s"} jumping on the bed
{"None" if i==5 else "One"} fell down and bumped his head
Mama called the doctor, and the doctor said
{'"No more monkeys jumping on the bed!"' if i<5 else '"Put those monkeys back into bed!"'}
''')

Five little monkeys jumping on the bed
One fell down and bumped his head
Mama called the doctor, and the doctor said
"No more monkeys jumping on the bed!"

Four little monkeys jumping on the bed
One fell down and bumped his head
Mama called the doctor, and the doctor said
"No more monkeys jumping on the bed!"

Three little monkeys jumping on the bed
One fell down and bumped his head
Mama called the doctor, and the doctor said
"No more monkeys jumping on the bed!"

Two little monkeys jumping on the bed
One fell down and bumped his head
Mama called the doctor, and the doctor said
"No more monkeys jumping on the bed!"

One little monkey jumping on the bed
One fell down and bumped his head
Mama called the doctor, and the doctor said
"No more monkeys jumping on the bed!"

No little monkeys jumping on the bed
None fell down and bumped his head
Mama called the doctor, and the doctor said
"Put those monkeys back into bed!"

In [ ]:
l = ["No", "One", "Two", "Three", "Four", "Five"]

for numMonkey in range(5,-1,-1):
    if numMonkey ==1:
        plural = ""
    else:
        plural = "s"

    if numMonkey == 0:
        numFellOff = "None"
        docSaid =  '"Put those monkeys back into bed!"'
    else:
        numFellOff = "One"
        docSaid = '"No more monkeys jumping on the bed!"'

    print(f'''{l[numMonkey]} little monkey{plural} jumping on the bed
{numFellOff} fell down and bumped his head
Mama called the doctor, and the doctor said
{docSaid}
''')

Five little monkeys jumping on the bed
One fell down and bumped his head
Mama called the doctor, and the doctor said
"No more monkeys jumping on the bed!"

Four little monkeys jumping on the bed
One fell down and bumped his head
Mama called the doctor, and the doctor said
"No more monkeys jumping on the bed!"

Three little monkeys jumping on the bed
One fell down and bumped his head
Mama called the doctor, and the doctor said
"No more monkeys jumping on the bed!"

Two little monkeys jumping on the bed
One fell down and bumped his head
Mama called the doctor, and the doctor said
"No more monkeys jumping on the bed!"

One little monkey jumping on the bed
One fell down and bumped his head
Mama called the doctor, and the doctor said
"No more monkeys jumping on the bed!"

No little monkeys jumping on the bed
None fell down and bumped his head
Mama called the doctor, and the doctor said
"Put those monkeys back into bed!"

### for-break

In [ ]:
for i in [1,2,7,3,4,5,7]: #remove/add 7 in the list to understand the utility of else
    print(i)
    if i==7:
        break #<-- asks to exit from loop

1
2
7

### for-else-break

In [ ]:
for i in [1,2,7,3,4,5,7]: #remove/add 7 in the list to understand the utility of else
    print(i)
    if i==7:
        break #<-- asks to exit from loop
else:         #<-- executes only if loop exits completeling its cycle
    print("Hello")

1
2
7

#### An interesting usage of for-else
You can understand its importance when you code the same in C

In [ ]:
import math
x = int(input("Enter number to identify if its prime: "))
for i in range(2,math.floor(x**0.5)+1):
    if x%i==0 :
        print(f"{x} is not a prime number")
        break
else:
    print(f"{x} is a prime number") #<-- this portion runs only if the loop does not breaks in between

Enter number to identify if its prime:  8

8 is not a prime number

### pass Keyword
     to allows writing empty constructs

In [ ]:
for i in range(6):
    pass

### continue Keyword

In [ ]:
for i in range(1,6):
    print(i)
    if(i%2):
        i = i+1
        print(i)
        continue #<-- after this execution starts from next iteration
    print("Hello")

1
2
2
Hello
3
4
4
Hello
5
6

# Functions
    We need functions-
       1. to use same code many times
       2. use same code with small modification

In [ ]:
# function without argument

## Function definition
## Example of a function to use same code many times
def hello():
    # function block started with indentation
    print('Howdy!')
    print('Howdy!!!')
    print('Hello there.')
#function block ends with indentation

## function call
hello() # call of a function takes the execution to the start of the function
hello()
hello()

Howdy!
Howdy!!!
Hello there.
Howdy!
Howdy!!!
Hello there.
Howdy!
Howdy!!!
Hello there.

In [ ]:
## Example of a function that use same code with a small modification
def isEvenNumber(x): # definition of function
    #x is an argument
    if x%2==0:
        return True  #return value
    else:
        return False #return value
# as soon as the return statement is encountered,
# the execution control goes to the next line to the
# function call, which asked it to execute the call
for i in [2,10,7,98,103]:
    x = isEvenNumber(i)      # call of function
    print(x)

y = isEvenNumber(109)
#the returned value is r-value here
#the l-value of y gets that r-value
print(y)

# The above two lines of code have the same effect as
# each of the below one line
print(isEvenNumber(10))
print(isEvenNumber(399))

#lets see what is returned by a function with no return
# statement
def hello():
    # function block started with indentation
    print('Howdy!')
    print('Howdy!!!')
    print('Hello there.')

print("call to hello function, the value returned is", hello())

True
True
False
True
False
False
True
False
Howdy!
Howdy!!!
Hello there.
call to hello function, the value returned is None

### Function with keyword argument

In [6]:
print("Hello")
print("World")
print("Hello", "Ram", end=";", sep=",")# default value of end is new line, and sep is a space
print("shyam")
print("rajesh")

Hello
World
Hello,Ram;shyam
rajesh

### Function with Iteration

In [ ]:
def powerfun(a,n):
    # a,n both are arguments; arguments can be many
    prod = 1
    for i in range(n):
        prod = prod*a
    return prod

print(powerfun(2,5))

32

### Function on stack

In [ ]:
def a():
       print('a() starts')
       b()
       d()
       print('a() returns')

def b():
       print('b() starts')
       c()
       print('b() returns')

def c():
       print('c() starts')
       print('c() returns')


def d():
       print('d() starts')
       print('d() returns')

a()

a() starts
b() starts
c() starts
c() returns
b() returns
d() starts
d() returns
a() returns

### Recursive functions
Check the [execution](https://pythontutor.com/render.html#code=def%20a%28n%29%3A%0A%20%20%20%20print%28f%22call%20started%20to%20a%28%29%20with%20n%20%3D%20%7Bn%7D%22%29%0A%20%20%20%20if%28n!%3D0%29%3A%0A%20%20%20%20%20%20%20%20a%28n-1%29%0A%20%20%20%20print%28f%22call%20ending%20to%20a%28%29%20with%20n%20%3D%20%7Bn%7D%22%29%0A%0Aa%283%29&cumulative=false&curInstr=17&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)

In [ ]:
def a(n):
    print(f"call started to a() with n = {n}")
    if(n!=0):
        a(n-1)
    print(f"call ending to a() with n = {n}")

a(4)
#print(n) #n is in the scope of function a and not in the global scope, creates error

call started to a() with n = 4
call started to a() with n = 3
call started to a() with n = 2
call started to a() with n = 1
call started to a() with n = 0
call ending to a() with n = 0
call ending to a() with n = 1
call ending to a() with n = 2
call ending to a() with n = 3
call ending to a() with n = 4

### Scope of variables, Global & Local

In [ ]:
def spam():
    global eggs
    eggs = 'spam' # this is the global
    print(eggs)

def bacon():
    # In a function, a variable will either always be global or always be local.
    #print(eggs) #UnboundLocalError, occurs, in a function the variable accessed
    eggs = 'bacon' # this is a local
    print(eggs)

def ham():
    print(eggs) # this is the global

eggs = 42 # this is the global
spam()
bacon()
ham()
eggs = 42 # this is the global
print(eggs)

spam
bacon
spam
42

# Exception Handling

In [ ]:
def spam(divideBy):
    try:
        return 42/divideBy
    except ZeroDivisionError:
        print(f"Division with {divideBy} is Not allowed")
print(spam(9))
print(spam(0)) #even with
print(spam(40)) # this still executes

4.666666666666667
Division with 0 is Not allowed
None
1.05

In [ ]:
def spam(divideBy):
        return 42/divideBy
try:
    print(spam(9))
    print(spam(0)) #even with
    print(spam(40)) # this does not execute
except ZeroDivisionError:
    print(f"Division with zero is Not allowed")

4.666666666666667
Division with zero is Not allowed

## User defined exception

In [ ]:
lst = ["Mother", "Father"]
guest = input("Relation")
class Stranger(Exception):
    pass
def greeting(guest):
    if guest=="Mother":
        print("Mom")
    elif guest=="Father":
        print("Dad")
    else:
        raise Stranger
try:
    greeting(guest)
except Stranger:
    print("The person is stranger")

Relation kap

The person is stranger

In [ ]:
try:
    x = int(input("Enter a number"))
except ValueError:
    print("You should enter integer")

Enter a number 56

# Recursive Functions
    Let the time taken by the function recPower(a,n) is T(n), then T(n) = const + T(n-1)

In [ ]:
def recPower(a,n):
    if n==1:
        return a
    else:
        return a*recPower(a,n-1)
print(recPower(2,5))

32

### Recursive function with bit of difference
     Let the time taken by the function recPower(a,n) is T(n), then T(n) = 2*T(n/2) + const

In [ ]:
def recPower(a,n):
    if n==1:
        return a
    elif(n%2==0):
        return recPower(a,n/2)*recPower(a,n/2)  #a^n = a^(n/2)*a^(n/2)
    else:
        return a*recPower(a,(n-1)/2)*recPower(a,(n-1)/2)  #a^n = a*a^((n-1)/2)*a^((n-1)/2)
print(recPower(2,4096))

1044388881413152506691752710716624382579964249047383780384233483283953907971557456848826811934997558340890106714439262837987573438185793607263236087851365277945956976543709998340361590134383718314428070011855946226376318839397712745672334684344586617496807908705803704071284048740118609114467977783598029006686938976881787785946905630190260940599579453432823469303026696443059025015972399867714215541693835559885291486318237914434496734087811872639496475100189041349008417061675093668333850551032972088269550769983616369411933015213796825837188091833656751221318492846368125550225998300412344784862595674492194617023806505913245610825731835380087608622102834270197698202313169017678006675195485079921636419370285375124784014907159135459982790513399611551794271106831134090584272884279791554849782954323534517065223269061394905987693002122963395687782878948440616007412945674919823050571642377154816321380631045902916136926708342856440730447899971901781465763473223850267253059899795996090799469201774624817718449867455659250178329070473119433165550807568221846571746373296884912819520317457002440926616910874148385078411929804522981857338977648103126085903001302413467189726673216491511131602920781738033436090243804708340403154190336

### Recursive function with bit of optimization
    An example of Dynamic Programming-
    Let the time taken by the function recPower(a,n) is T(n), then T(n) = T(n/2) + const

In [ ]:
def recPower(a,n):
    if n==1:
        return a
    elif(n%2==0):
        x = recPower(a,n/2)
        return x*x  #a^n = a^(n/2)*a^(n/2)
    else:
        x = recPower(a,(n-1)/2)
        return a*x*x  #a^n = a*a^((n-1)/2)*a^((n-1)/2)
print(recPower(2,4096))

1044388881413152506691752710716624382579964249047383780384233483283953907971557456848826811934997558340890106714439262837987573438185793607263236087851365277945956976543709998340361590134383718314428070011855946226376318839397712745672334684344586617496807908705803704071284048740118609114467977783598029006686938976881787785946905630190260940599579453432823469303026696443059025015972399867714215541693835559885291486318237914434496734087811872639496475100189041349008417061675093668333850551032972088269550769983616369411933015213796825837188091833656751221318492846368125550225998300412344784862595674492194617023806505913245610825731835380087608622102834270197698202313169017678006675195485079921636419370285375124784014907159135459982790513399611551794271106831134090584272884279791554849782954323534517065223269061394905987693002122963395687782878948440616007412945674919823050571642377154816321380631045902916136926708342856440730447899971901781465763473223850267253059899795996090799469201774624817718449867455659250178329070473119433165550807568221846571746373296884912819520317457002440926616910874148385078411929804522981857338977648103126085903001302413467189726673216491511131602920781738033436090243804708340403154190336

# Complex Numbers and the Operations

    How different complex numbers look like

In [ ]:
z = complex(5, 7)
print("Output:", z)
# Output: (5+7j)

z = complex(3)
print("Output:", z)
# Output: (3+0j)

z = complex()
print("Output:", z)
# Output: 0j

z = complex('1+1j')
print("Output:", z)
# Output: 1+1j

z = complex(1, -4)
print("Output:", z)
# Output: 1-4j

Output: (5+7j)
Output: (3+0j)
Output: 0j
Output: (1+1j)
Output: (1-4j)

In [ ]:
type(float("98"))

float

### in-built function with complex numbers

In [ ]:
z  = 3 + 4j

print("Real part:", z.real)
# Real part: 3.0

print("Imaginary part:", z.imag)
# Imaginary part: 4.0

print("Conjugate value:", z.conjugate())
# Conjugate value: 3 - 4j

Real part: 3.0
Imaginary part: 4.0
Conjugate value: (3-4j)

### Airthematic Operations

In [ ]:
z1 = 6 + 7j
z2 = 1 + 4j

print("Addition of numbers:", z1 + z2)
print("Subtraction of numbers:", z1 - z2)
print("Multiplication of numbers:", z1 * z2)
print("Division of numbers:", z1 / z2)

Addition of numbers: (7+11j)
Subtraction of numbers: (5+3j)
Multiplication of numbers: (-22+31j)
Division of numbers: (2-1j)

### cmath module functions
    There many things available in cmath, one has to go through them

In [ ]:
import cmath

z = 4 + 2j

# Power and log functions like log2, log10, sqrt
# Power function
print("e^z:", cmath.exp(z))

# Logarithm function
print("log2(z):", cmath.log(z, 2))

# Trigonometric functions
# For sine value
print("Sine Value:", cmath.sin(z))

# For cosine value
print("Arc Sine Value:", cmath.asin(z))

# Hyperbolic functions
# For hyperbolic sine value
print("Hyperbolic Sine Value:", cmath.sinh(z))

# For Inverse hyperbolic sine value
print("Inverse Hyperbolic Sine Value:", cmath.asinh(z))

e^z: (-22.720847417619233+49.645957334580565j)
log2(z): (2.1609640474436813+0.6689021062254881j)
Sine Value: (-2.8472390868488278-2.3706741693520015j)
Arc Sine Value: (1.096921548830143+2.183585216564564j)
Hyperbolic Sine Value: (-11.356612711218174+24.83130584894638j)
Inverse Hyperbolic Sine Value: (2.198573027920936+0.4538702099631225j)

In [ ]:
print(type(complex("4+2j")))

<class 'complex'>

# Generators and Iterators
### The range function can be used in three different ways:

  1. range(stop): Generates numbers from 0 to stop - 1.
  2. range(start, stop): Generates numbers from start to stop - 1.
  3. range(start, stop, step): Generates numbers from start to stop - 1, incrementing by step.

In [ ]:
print( """# range(stop)""")
for i in range(5):
    print(i)  # Output: 0 1 2 3 4
print("""range(start, stop)""")
for i in range(1, 5):
    print(i)  # Output: 1 2 3 4

print("""# range(start, stop, step)""")
for i in range(1, 10, 2):
    print(i)  # Output: 1 3 5 7 9

# range(stop)
0
1
2
3
4
range(start, stop)
1
2
3
4
# range(start, stop, step)
1
3
5
7
9

In [ ]:
for i in range(4,10,3):
    print(i)

4
7

In [ ]:
for i in range(5):
    i = i*10
    print(i) # in python updation of i intermediately does not affect next iteration value

0
10
20
30
40

In [ ]:
# prompt: print hello world using rot13

def rot13(text):
  result = ''
  for char in text:
    if 'a' <= char <= 'z':
      result += chr(((ord(char) - ord('a') + 13) % 26) + ord('a'))
    elif 'A' <= char <= 'Z':
      result += chr(((ord(char) - ord('A') + 13) % 26) + ord('A'))
    else:
      result += char
  return result

hello_world_rot13 = rot13("a hello world")
print(hello_world_rot13)

n uryyb jbeyq

# Lists

In [ ]:
x = [1, 2, 3] # can have numbers
print(x)

x= ['cat', 'bat', 'rat', 'elephant'] #can have strings
print(x)

x = ['hello', 3.1415, True, None, 42] #can have mixed data
print(x)

[1, 2, 3]
cat
bat
rat
elephant
elephant
rat
bat
cat

## Indexing

In [ ]:
x= ['cat', 'bat', 'rat', 'elephant'] #lists maintains order and hence can be indexed with integers
print(x[0])
print(x[1])
print(x[2])
print(x[3])
print(x[3][3])
print(x[10]) # IndexError: list index out of range

cat
bat
rat
elephant
p

IndexError: list index out of range

## Negative Indexing

In [ ]:
x= ['cat', 'bat', 'rat', 'elephant']
print(x[-1])
print(x[-2])
print(x[-3])
print(x[-4])
print(x[-4][1])
# print(x[-10]) # IndexError: list index out of range
# print(x[2.0]) # TypeError: list indices must be integers or slices

elephant
rat
bat
cat
a

In [8]:
x = [['cat', 'bat'], [10, 20, 30, 40, 50],["Hello", "hi", "bye", "see you"],["a","b","c","d"]]
print("1",x)
print("1.5", x[1][2])
print("2",x[2][3])
y = x[::2] #initial index(including):final index(excluding):step size
print("3", y)
y = x[1:4:2]
print("4", y)
y = x[:]
print("5", y)
y = x[2:]
print("6", y)
y = x[:3]
print("7", y)

1 [['cat', 'bat'], [10, 20, 30, 40, 50], ['Hello', 'hi', 'bye', 'see you'], ['a', 'b', 'c', 'd']]
1.5 30
2 see you
3 [['cat', 'bat'], ['Hello', 'hi', 'bye', 'see you']]
4 [[10, 20, 30, 40, 50], ['a', 'b', 'c', 'd']]
5 [['cat', 'bat'], [10, 20, 30, 40, 50], ['Hello', 'hi', 'bye', 'see you'], ['a', 'b', 'c', 'd']]
6 [['Hello', 'hi', 'bye', 'see you'], ['a', 'b', 'c', 'd']]
7 [['cat', 'bat'], [10, 20, 30, 40, 50], ['Hello', 'hi', 'bye', 'see you']]

## Slicing
### Default Indexing
Initial index 0
Final Index last
Step size 1
In case if you do not specify a particular index, then default value is taken.

In [ ]:
x = [['cat', 'bat'], [10, 20, 30, 40, 50],["Hello", "hi", "bye", "see you"],["a","b","c","d"]]
y = x[::2] #initial index(including):final index(excluding):step size
print("3", y)
y = x[1:4:2]
print("4", y)
y = x[:]
print("5", y)
y = x[2:]
print("6", y)
y = x[:3]
print("7", y)

#length/number of items in the list
print(len(x), len(x[0]), len(x[1]), len(x[2]), len(x[3]))

3 [['cat', 'bat'], ['Hello', 'hi', 'bye', 'see you']]
4 [[10, 20, 30, 40, 50], ['a', 'b', 'c', 'd']]
5 [['cat', 'bat'], [10, 20, 30, 40, 50], ['Hello', 'hi', 'bye', 'see you'], ['a', 'b', 'c', 'd']]
6 [['Hello', 'hi', 'bye', 'see you'], ['a', 'b', 'c', 'd']]
7 [['cat', 'bat'], [10, 20, 30, 40, 50], ['Hello', 'hi', 'bye', 'see you']]
4 2 5 4 4

## Modifying Lists

In [9]:
spam = ['cat', 'bat', 'rat', 'elephant']
spam[1] = 'aardvark'
print(spam)

spam[2] = spam[1] # use of index to generate l- and r-values
print(spam)

spam[-1] = 12345  # negative indices count from the end
print(spam)

spam[1:3] = ['x', 'y'] #updating multiple indexed at once
print(spam)

#operators
spam = [1, 2, 3]
spam = spam + ['a', 'b', 'c']
print(spam)

spam = [1, 2, 3]
spam = spam*3
print(spam)

#deleting an item
del spam[0]
print(spam)

['cat', 'aardvark', 'rat', 'elephant']
['cat', 'aardvark', 'aardvark', 'elephant']
['cat', 'aardvark', 'aardvark', 12345]
['cat', 'x', 'y', 12345]
[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[2, 3, 1, 2, 3, 1, 2, 3]

In [10]:
# in & not in operators
newGuest = []
while(True):
  x = input("Enter the name of Guest ")
  if x=="":
    break
  if x not in newGuest:
    newGuest += [x]
print(newGuest)
for i in newGuest:
    print(i)

['Prashant']
Prashant

## Multiple Assignments
technically called *tuple unpacking*

In [11]:
cat = ['fat', 'gray', 'loud']
size, color, disposition = cat
print(size, color, disposition)
#number of variables and the length of the list must be exactly equal
cat = ['fat', 'gray', 'loud']
# size, color, disposition, name = cat #ValueError: not enough values to unpack (expected 4, got 3)

fat gray loud

In [ ]:
# enumerate() will return two values: the index of the item in the list
# and the item in the list itself.
supplies = ['pens', 'staplers', 'flame-throwers', 'binders']
for index, item in enumerate(supplies):
    print('Index ' + str(index) + ' in supplies is: ' + item)

Index 0 in supplies is: pens
Index 1 in supplies is: staplers
Index 2 in supplies is: flame-throwers
Index 3 in supplies is: binders

## random.choice() and random.shuffle()

In [19]:
import random
pets = ['Dog', 'Cat', 'Moose']
print(random.choice(pets))
print(random.choice(pets))
print(random.choice(pets))

print(pets[random.randint(0,len(pets)-1)]) # random.randint(start, stop), both inputs are required

Moose
Cat
Moose
Cat

In [23]:
import random
people = ['Alice', 'Bob', 'Carol', 'David']
random.shuffle(people)
print(people)

['Bob', 'Alice', 'David', 'Carol']

In [ ]:
# getting index of a value in list
spam = ['hello', 'hi', 'howdy', 'heyas']
print(spam.index('hello'))
print(spam.index('heyas'))
# print(spam.index('ho howdy')) # ValueError: 'ho howdy' is not in list
# duplicates of the value in the list, the index of its first appearance is returned
spam = ['Zophie', 'Pooka', 'Fat-tail', 'Pooka']
print(spam.index('Pooka'))

#append method
spam = ['cat', 'dog', 'bat']
print(spam.append('moose'))
print(spam)

#insert method
print(spam.insert(1, 'chicken'))
print(spam)

#remove method
print(spam.remove('bat'))
print(spam)

# index method does not modify the list but returns the value of index of the item set to it
# while append, insert and remove methods changes the list in place but returns 'None'

0
3
1
None
['cat', 'dog', 'bat', 'moose']
None
['cat', 'chicken', 'dog', 'bat', 'moose']
None
['cat', 'chicken', 'dog', 'moose']

In [4]:
# attempting to remove, value that does not exist, can generate an error
spam = ['cat', 'bat', 'rat', 'elephant']
#spam.remove('chicken') #ValueError: list.remove(x): x not in list

#sorting inplace
spam = ['ants', 'cats', 'dogs', 'badgers', 'elephants']
print(spam.sort()) #also returns 'None', sort() uses ASCIIbetical order
print(spam)

#TypeError: '<' not supported between instances of 'str' and 'int'
# spam = [1, 3, 2, 4, 'Alice', 'Bob','cat','bat','apple']
print(spam.sort())
print(spam)

spam = ['Alice', 'Bob','cat','bat','apple']
print(spam.sort()) #also returns 'None', sort() uses ASCIIbetical order
print(spam)

print(spam.sort(key=str.lower))#sorts in alphabetical order, assuming all things in lower case
print(spam)

spam.sort(reverse=True)
print(spam)

None
['ants', 'badgers', 'cats', 'dogs', 'elephants']
None
['ants', 'badgers', 'cats', 'dogs', 'elephants']
None
['Alice', 'Bob', 'apple', 'bat', 'cat']
None
['Alice', 'apple', 'bat', 'Bob', 'cat']
['cat', 'bat', 'apple', 'Bob', 'Alice']

## Sequence Data Types
    1. Lists
    2. Strings
    3. Range
    4. Tuples
So most of the things that are applicable to lists are also applicable to other sequence data types like- indexing, slicing, looping through len() etc.

# Strings
## Slicing

In [4]:
x = "Hello World"
y = x[0::2]
print(y)
for i in x:
  print(i)

print("o " in x, "o W" in x)

y = x[0::2]
print(y)

x = [i for i in range(10)]
y = x[-1:0:-3]
print(y)

HloWrd
H
e
l
l
o

W
o
r
l
d
True True
HloWrd
[9, 6, 3]

## Mutable Data Types
Modifiable values
   1. Add
   2. Remove
   3. Change
  > example lists

## Immutable Data Types
No modification allowed
   > example strings, the change generates error

In [5]:
name = 'Zophie a cat'
# name[7] = 'the' # TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [7]:
lst = [1,2,3]
print(id(lst), lst)
lst[1] = 4
print(id(lst),lst)
lst = [4,5,6] # the re assignment entirely changes the variable
print(id(lst),lst)

132897476663040 [1, 2, 3]
132897476663040 [1, 4, 3]
132897476512256 [4, 5, 6]

# Tuples

In [11]:
# All Reading through tuples is same as that of list
tp = (1,2,3)
print(tp)
tp = ('cat', 'bat', 'rat', 'elephant')
print(tp)
tp = ('hello', 3.1415, True, None, 42)
print(tp)

print(tp[3])
print(tp[1:3])
print(tp[1::2])

(1, 2, 3)
('cat', 'bat', 'rat', 'elephant')
('hello', 3.1415, True, None, 42)
None
(3.1415, True)
(3.1415, None)

In [10]:
tp = (1,2,3)
print(id(tp), tp)
# tp[1] = 4 #TypeError: 'tuple' object does not support item assignment
print(id(tp),tp)
tp = (4,5,6) # the re assignment entirely changes the variable
print(id(tp),tp)

132897478044032 (1, 2, 3)
132897478044032 (1, 2, 3)
132897478178368 (4, 5, 6)

To differentiate between expression brackets and tuples with single item use ","

In [15]:
print(type(('hello')))
print(type(('hello',)))

<class 'str'>
<class 'tuple'>

# Conversion between types

In [16]:
print(tuple(['cat', 'dog', 5]))
print(list(('cat', 'dog', 5)))
print(list('hello'))
print(tuple('hello'))

('cat', 'dog', 5)
['cat', 'dog', 5]
['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')

References

In [18]:
spam=42
cheese=spam
print(spam is cheese, id(spam), id(cheese))
cheese=100
print(spam is cheese, id(spam), id(cheese))
# even int and almost all single valued datatypes are immutable,
# when you are assigning them, previous object is thrown and new object is made
# and the reference to the new object is given to the handle

True 132898519975440 132898519975440
False 132898519975440 132898519977296

In [20]:
spam = [0, 1, 2, 3, 4, 5]
cheese = spam
cheese[1] = 'Hello!'
print(spam)
print(cheese is spam)

[0, 'Hello!', 2, 3, 4, 5]
True

In [23]:
a = 42
s = [1,2,3]
print(id(s[1]))
s[1] = a
a = 29

print(id(a),id(s[1]),id(s),s)

132898519974160
132898519975024 132898519975440 132897234909120 [1, 42, 3]

In [26]:
eggs = ['cat', 'dog']
cheese = eggs
print(id(eggs), eggs)
eggs.append('moose') # changes the list in place
print(id(eggs),eggs)
print(id(cheese),cheese) # they are refering  to the same thing
print(cheese is eggs)

132897476705856 ['cat', 'dog']
132897476705856 ['cat', 'dog', 'moose']
132897476705856 ['cat', 'dog', 'moose']
True

Pythons automatic garbage collector deletes any values not being referred to by any variables to free up memory. You dont need to worry about how the garbage collector works.

# Parameter Passing

In [27]:
def eggs(someParameter): # most of the parameters are passed by reference
    someParameter.append('Hello')

spam = [1, 2, 3]
eggs(spam)
print(spam)

[1, 2, 3, 'Hello']

In [29]:
def eggs(x):
  x=96 # basic data type like int, float, complex, string are immutable and behave in this way
spam=42
eggs(spam)
print(spam)

42

# copy() and deepcopy()

In [31]:
# Sometimes you dont want your method to change your original variable
import copy
spam = ['A', 'B', 'C', 'D']
cheese = copy.copy(spam)
cheese[1] = 42
print(id(spam),spam)
print(id(cheese),cheese)

132897233329344 ['A', 'B', 'C', 'D']
132897233330304 ['A', 42, 'C', 'D']

In [33]:
import copy
spam = [['A', 'B', 'C', 'D'],[1,2,3,4],[5,6,7,8]]
cheese = copy.copy(spam)
cheese[1][2] = 42
print(id(spam),spam)
print(id(cheese),cheese)
# instead make a deepcopy
geese = copy.deepcopy(spam)
geese[1][2] = 100
print(id(spam),spam)
print(id(geese),geese)

132897233648832 [['A', 'B', 'C', 'D'], [1, 2, 42, 4], [5, 6, 7, 8]]
132897233639680 [['A', 'B', 'C', 'D'], [1, 2, 42, 4], [5, 6, 7, 8]]
132897233648832 [['A', 'B', 'C', 'D'], [1, 2, 42, 4], [5, 6, 7, 8]]
132897233649536 [['A', 'B', 'C', 'D'], [1, 2, 100, 4], [5, 6, 7, 8]]

## Homework
>spam = ['apples', 'bananas', 'tofu', 'cats']
>
>Write a function that takes a list value as an argument and returns a string with all the items separated by a comma and a space, with and inserted before the last item. For example, passing the previous spam list to the function would return 'apples, bananas, tofu, and cats'. But your function should be able to work with any list value passed to it. Be sure to test the case where an empty list [] is passed to your function.

> Make random flips of 100 coins and see if there is a streak of six heads or tails in a row.
> Check again if you repeat this 10000 times, how many times you get the streak
> Use  
> import random
> random.randint(0,1)